.clearfix:after {content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { *zoom:1; }
a{text-decoration: none}
.loadMord{width: 100%;height:44px;margin: 0px auto 0 auto;background: #f5f5f5;font-size:14px;color:#9b9b9b;text-align: center;line-height: 44px;}
.floatL{float:left}
.floatR{float: right}
.related-idea a:hover{
	text-decoration: none;
	color: inherit;
}
.related-idea a:active{
	text-decoration: none;
	color: inherit;
}
.related-idea a:visited{
	text-decoration: none;
	color: inherit;
}
.related-idea a:link{
	text-decoration: none;
	color: inherit;
}
.related-idea{
	width:100%;
	margin: auto;
	/*background-color: #ffffff;*/
	/*border:1px solid #e9e9e9;*/
	margin-top: 40px;
	display: none;
}
.idea-title{
	width:100%;
	height:19px;
	border-left: 4px solid #fb7a12;
	/*margin-left: 3%;*/
	font-size: 17px;
	color: #000;
	padding-left: 2%;
	/*height: 40px;*/
	/*line-height: 40px;*/
	/*border-bottom:1px solid #e9e9e9;*/
}
.idea-tabs{
	width: 94%;height:auto;margin:15px auto 0 auto;overflow: hidden;
}
.idea-tab{
	width:auto;height:auto;padding: 10px 12px;border: 1px solid #e5e5e5;border-radius: 3px;font-size: 14px;color:#0091fa;float: left;margin-left: 11px;
}
.idea-tab:first-child{margin-left: 0}
.idea-infos{
	padding-bottom: 10px;
	position: relative;
	/*overflow: hidden;*/
	margin-top: 15px;
}
.idea-info:first-child{
	margin-top: -60px;
	margin-bottom: 10px;
	visibility: hidden;
}
.info-line{
	width: 1px;
	border-left:1px dashed #e9e9e9;
	height: 100px;
	display: inline-block;
	position: absolute;
	top: 82px;
	visibility: visible;
}
.idea-info{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 96%;
}
.info-time{
	display: inline-block;
	padding-left: 2px;
	padding-right: 2px;
	border:1px solid #e9e9e9;
	border-radius: 2px;
	font-size: 12px;
	padding-top: 2px;
	padding-bottom: 0.5px;
	position: relative;
}
.info-icon{
	width:9px;
	height: 9px;
	display: inline-block;
	background-image: url("../img/circle.png");
	background-color: #ffffff;
	background-size: 9px 9px;
	position: relative;
	margin-left: 4px;
	margin-right: 5px;
	z-index: 2;
}
.info-text{
	vertical-align: middle;
	border:1px solid #e9e9e9;
	border-radius: 2px;
	display: inline-block;
	width:-moz-calc(100% - 62px);
	width:-webkit-calc(100% - 62px);
	width: calc(100% - 62px);
	font-size: 18px;
	height: 64px;
	line-height: 64px;
	position: relative;
}
.text-word{
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	max-height: 90%;
	width: 100%;
	line-height: 27px;
	vertical-align: middle;
	overflow: hidden;
	text-align: left;
	position: relative;
	top:-3px;
}
.text-word-img{
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	width:75%;
	max-height: 90%;
	vertical-align: middle;
	line-height: 27px;
	overflow: hidden;
	text-align: left;
	position: relative;
	top:-3px;
}
.text-img{
	float: right;
	padding: 2px;
	width: 25%;
	height: 100%;
}
.text-img img{
	width: 100%;
	height: 100%;
	position: relative;
}
.elte-comments{
	width:100%;
	margin: auto;

	margin-top: 7px;
	display: none;
}
.comments{
	margin-top:12px;
}
.comments-title{
	width:100%;
	height: 19px;
	border-left:4px solid #fb7a12;
	line-height: 19px;
	font-size: 1.8rem;
	color:#1a1a1a;
	padding-left: 3%;
}
.comments-more{
	width:90%;
	margin:0 auto;
	height: auto;
	background: #0091fa;
	border-radius: 47px;
	line-height: 20px;
	font-size: 1.5rem;
	color:#fff;
	padding: 13px 12%;
	text-align: center;
	overflow: hidden;
	/*background: red;*/
}
.qidianMore{
	width:8%;height:auto;display: inline-block;vertical-align: middle;
}
.qidianMore>img{
	width:100%;
}
.reping{
	width:auto;font-size: 1.5rem;color: #ffffff;line-height: 18px;display: inline-block;
}
.qidianGo{
	width:3.1%;height:auto;display: inline-block;vertical-align: middle;
}
.qidianGo>img{
	width:100%;
}
.comment{
	width: 94%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	border-top:1px solid #e0e0e0;
}
.comment:first-child{
	border:0;
}
.comment-img{
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	overflow: hidden;
	float: left;
}
.comment-img img{
	height: 100%;
}
.comment-info{
	width:-moz-calc(95% - 30px);
	width:-webkit-calc(95% - 30px);
	width: calc(95% - 30px);
	float: left;
	margin-left: 10px;
	margin-top:2px;
	padding-bottom: 16px;
}
.user-info .user-name{
	font-size: 1.4rem;
	color: #47494c;
	line-height: 18px;
}
.user-info .user-time{
	font-size: 1.2rem;
	color: #808080;
	line-height: 22px;
}
.user-info .floatR{
	line-height: 23px;
	font-size: 1.4rem;
	color:#8d8d8d;
}
.user-info .floatR img{
	height: 13px;
	vertical-align: middle;
}
.comment-text{
	font-size: 1.4rem;
	color: #47404c;
	margin-top: 7px;
	line-height:2.5rem;
}
.infoBox{
	width:94%;height:auto;margin:0px auto 0 auto;border-left: 1px dashed #b3b3b3;padding-left: 7px;padding-top: 1px;
}
.infoInnerbox{
	width:100%;height:auto;border-bottom: 1px solid #e5e5e5;
}
.infoDatas{
	width:100%;height:16px;margin-left: -3px;margin-top:10px
}
.infoBox:first-child>a>.infoDatas:first-child{
	display: none;
}
.infoBox:first-child>a>.infoDatas{
	margin-top: -4px;
}
.infoCircle{
	width:8px;height:8px;border:1px solid #b3b3b3;border-radius: 50%;display: inline-block;line-height: 14px;float: left;margin-top: 3px;margin-left: -8px;background: #f6f6f6;
}
.infoData{
	width:auto;height:100%;padding: 2px;font-size: 12px;color: #fff;background: #aaa;float: left;
	margin-left: 7px;line-height: 14px;;
}
/*.infoDatas:first-child{*/
	/*padding-to:-3px;*/
/*}*/
.infoInnerbox{
	width: 100%;height:auto;padding: 6px 0 10px 0;overflow: hidden;
}
.infoTitle{
	width:100%;height:auto;font-size: 16px;color:#1a1a1a;line-height: 22px;
}
.infoForm{
	width: 100%;height:auto;font-size: 10px;color:#999;margin-top: 8px;
}
.year{
	font-size: 13px;color:#fb7a12;background:#f6f6f6 ;padding: 0;
	width:auto;height:100%;float: left;
	margin-left: 7px;line-height: 14px;
}
.infoInnerL{
	width:calc(100% - 100px);height:auto;float: left;
}
.infoInnerR{
	width:81px;height:60px;float: right;
}
.infoInnerR>img{
	width: 100%;
}