.nav{
    width:62.5%;height:100%;margin:0 auto;margin-top:4.8%;overflow: hidden;
}
a{
    text-decoration: none;
}
.logoBox{
    width:308px;height:auto;float:left;
}
.logoBox1{
    width:179px;height:auto;
}
.logoBox1>img{
    width:100%;
}
.logoBox2{
    width:240px;height:auto;margin-top:10px;
}
.logoBox2>img{
    width:100%;
}
.navBox{
    width:60%;height:auto;float:right;overflow: hidden;margin-top:4%;
}
.navBox>li>a{
    font-size:14px;color:#878787;float:right;margin-right:4.3%;
}
.navBoxB{
    width:60%;height:auto;float:right;overflow: hidden;margin-top:4%;
}
.navBoxB>li>a{
    font-size:14px;color:#878787;float:right;margin-right:4.3%;
}
.sanjiao{
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 8px solid #6cc1fb;margin:2px auto 0 auto;opacity:0
}
.underline{
    width:100%;height:3px;background: #6cc1fb;opacity:0
}
.navBox>li>a:hover{
    color:#6cc1fb;
}
.bannerBox{
    width:100%;height:auto;overflow: hidden;margin-top:1%;position: relative;
}
.nav{
    display: block;
}
.logoP{display: none}
@media screen and (max-width:992px){
    .topBox,.nav{display: none}
    .mainBox{display: none}
    footer{display: none}
    .cInner1{
        display: none;
    }
    .callP{
        display:block;
    }
    .bannerboxP{
        display:block;width:100%;height:100%;background: url("../imgPhone/bannerP.png");background-size:cover;
    }
    .bannerboxP>img{
        width:100%;
    }
    .topP{
        width:100%;height:40px;background: #fff;position: relative;top:0;left:0;overflow: hidden;
    }
    .logoP{
        width: 30%;height:auto;margin:3% 35%;display: block;
    }
    .logoP>img{
        width: 100%;
    }
    .btnP{
        width:20px;height:15px;background: url("../imgPhone/btnP.png");background-size: cover;position:absolute;top:50%;margin-top:-8px;right:13px;
    }
    .navP{
        width:50%;height:auto;position: absolute;top:40px;right:0;z-index: 99;background: rgba(255,255,255,0.9);display: none;
    }
    .navP li{
        width:100%;height:35px;border-bottom:1px solid #d2d2d2;padding:12px 22px;
    }
    .iconP{
        width:25px;height:25px;float: left;
    }
    .iconP>img{
        width:100%;
    }
    .navWord{
        width:65%;height:35px;float: left;margin-left:20px;text-align: left;line-height: 35px;font-size:1em;color:#333;
    }
    .beginP{
        width:252px;height:88px;position: absolute;top:70%;left:50%;margin-left:-126px;background: url("../imgPhone/rectP.png");font-size:2em;text-align: center;line-height: 88px;color:#6cc1fb;
    }

    /*产品页面*/

}