*{
    padding: 0;margin:0;list-style: none;
}
a{
    text-decoration: none;
}
#first,#last{
    display: none;
}
.topLogo{
    width: 100%;height:auto;position:relative;top:0;left:0;
}
.topLogo>img{
    width:100%;
}
.yindaoLogo{
    width:18%;height: auto;position: absolute;top:30px;left: 50%;margin-left: -9%;
}
.yindaoLogo>a>img{
    width: 100%;
}
.yindaoWord{
    width:12%;height: auto;position: absolute;bottom:7%;left: 50%;margin-left: -6%;
}
.yindaoWord>img{
    width: 100%;
}
.yindaoMain{
    width: 90%;height:auto;margin:0 auto;border-bottom: 1px solid #e5e5e5;padding: 15px 0;overflow: hidden;
}
.yindaoTitle{
    width: 100%;height:auto;font-size: 18px;color: #2b2b2b;line-height: 25px;
}
.yindaoTubox{
    width: 100%;height: auto;overflow: hidden;margin-top:16px
}
.yindaoTu{
    width: 32%;height: auto;float: left;margin-left: 0.87%;
}
.yindaoTu:nth-child(1){
    margin-left: 0;
}
.yindaoTu>img{
    width: 100%;
}
.yindaoForm{
    width: 100%;height:auto;margin-top:10px;overflow: hidden;
}
.yindaoForminner{
    width:auto;height: auto;float: left;margin-left:15px;font-size: 14px;color: #7c7c7c;
}
.yindaoLeft{
    width: 32.75%;height: auto;float: left;
}
.yindaoLeft>img{
    width: 100%;
}
.yindaoRight{
    width: 62.95%;height:auto;float: right;
}